body {
  background-color: #F2F1E8;
  margin: 0;
  padding: 0px;
  color: #131511;
}
h3 {
  font-size: 200%;
  font-weight: lighter;
  padding: 10px;
}
/*navigation sytles */


.wrapper {
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
  display: flex;
  box-shadow: 0px 5px 5px grey;
}


#logo {
  max-height: 40px;
  padding: 10px;
  margin: 0;
  /*position: relative;*/
}

.nav {
  margin: auto;
  word-spacing: 50px
  position: fixed;
  background-color: #FFFFFF;
}

.nav a:hover {
  color: #CD5D67;
}

.nav a:active {
  color: #968772;
}
.nav a {
  float: left;
  display: block;
  color: #2B2F26;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Roboto;
  text-transform: uppercase;
}


}
h4 {
  background-color: #2B2F26;
  font-family: Merriweather;
  font-weight: lighter;
  font-size: 120%;
  padding: 10px;
  color: white;
  margin-left: 5px;
}

h5 {
  font-family: Merriweather;
  font-weight: lighter;
  font-size: 150%;
}
h6 {
  font-size: 500%;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

p{
  padding-right: 10px
}
.article {
  padding-left: 75px;
  padding-right: 75px;
}


.container {
  margin-left: 50px;
  margin-right: 50px;
}



.birdhouse {
  float: left;
  max-width: 150px;
  padding: 20px;
}

blockquote {
  font-style: italic;
  border-left: 2px solid #967343;
  padding: 15px;
}

.r2g {
  color: white;
  display: flex;
  justify-content: center;
}

.plant {
  height: 20em;
  position: relative;
  width: 150%;

}

.grow {
  font-family: Merriweather;
  position: absolute;
  margin-top: 100px
}

.textcolumns {
  display: flex;
}


.pans {
  flex: 1;
}

.pots {

}

table {
  border: 1px solid;
  border-collapse: collapse;
  margin-right: auto;
}

td, th {
  border: 1px solid;
  padding: 20px;
}

.tableheader {
  text-align: center;
}


.footy {
  padding: 30px;
  width: 100%;
  margin: 0;
  background-color: #2B2F26;
  color: #F2F1E8;
  font-family: Merriweather;
}
