body {
  background-image: url("images/background-2.jpg");
}

h2 {
  font-family: Merriweather;
  font-weight: 300;
  font-size: 175%;
}

h7 {
  font-size: 125%;
  font-weight: 400;
  text-align: center;
}
