body {
  background-color: #F2F1E8;
  margin: 0px;
  padding: 0px;
  color: #131511;
}

h1, h3 {
  display: flex;
  justify-content: center;
  font-family: Merriweather;
  padding: 10px;
  margin: 0px;
}

h1 {
  font-size: 350%;
  font-weight: 400;
  margin-top: 40px;
}

h2 {
  font-family: Merriweather;
  font-weight: 300;
  font-size: 175%;
}

h3 {
  font-size: 200%;
  font-weight: lighter;
  padding: 10px;
}

h4 {
  background-color: #2B2F26;
  font-family: Merriweather;
  font-weight: lighter;
  font-size: 120%;
  padding: 10px;
  color: white;
  margin-left: 5px;
}

h5 {
  font-family: Merriweather;
  font-weight: lighter;
  font-size: 150%;
}

h6 {
  font-size: 500%;
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

h7 {
  font-size: 125%;
  font-weight: 400;
  text-align: center;
}
p{
  padding-right: 10px
}
.article {
  padding-left: 75px;
  padding-right: 75px;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

.products {
  margin: 0px;
  padding: 0px;
}

.gallery1 {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.gallery2 {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.photos {
  position: relative;
}

.labels {
  position: absolute;
  margin-top: -70px;
}

.wrapper {
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}


#logo {
  max-height: 40px;
  padding: 10px;
  margin: 0;
  /*position: relative;*/
}

.nav {
  margin: auto;
  word-spacing: 50px

}

.wide {
  width: 600px;
  height: 300px;
  padding: 5px;
  margin: 0px;
}

.tall {
  width: 200px;
  height: 300px;
  padding: 5px
}

.square {
  height: 200px;
  width: 200px;
  padding: 5px;
  object-fit: cover;
  clip: rect(0px, 60px, 200px, 0px);
}

.rect {
  width: 400px;
  height: 200px;
  padding: 5px;
}

a {
  font-family: Roboto;
  color: #2B2F26;
  text-transform: uppercase;
}

a:hover {
  color: #CD5D67;
}

a:active {
  color: #968772;
}

.birdhouse {
  float: left;
  max-width: 150px;
  padding: 20px;
}

blockquote {
  font-style: italic;
  border-left: 2px solid #967343;
  padding: 15px;
}

.r2g {
  color: white;
  display: flex;
  justify-content: center;
}

.plant {
  height: 20em;
  position: relative;
  width: 150%;
  object-fit: cover;

}

.grow {
  font-family: Merriweather;
  position: absolute;
  margin-top: 100px
}

.textcolumns {
  display: flex;
}

.fancy {
  flex: 3;
}

.pans {
  flex: 1;
}
/*
.pots {
  max-width: 150px;
  height: auto;
}*/

table {
  border: 1px solid;
  border-collapse: collapse;
  margin-right: auto;
}

td {
  border: 1px solid;
  padding: 20px;
}

.tableheader {
  text-align: center;
}

.beige {
  background-color: black;
}


.newsletter {
  font-family: Merriweather;
  font-weight: lighter;
  background-color: #FFFFFF;
  margin: 300px;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.input {
  border: none;
  border-bottom: 1px solid #968772;
  padding: 10px;
  width: 400px;
  margin-top: 40px;
  text-align: left;
  font-size: 115%;
  color: #968772;
}

.input:focus {
  border: none border-bottom: 1px solid #967343;
}

.button {
  background-color: #968772;
  color: #F2F1E8;
  padding: 20px;
  margin: 20px;
  border: 0 solid;
  box-shadow: none;
  border-radius: 0px;
  font-size: 125%;
}

.button:hover {
  background-color: #967343;
  color: white;
}

.footy {
  padding: 30px;
  width: 100%;
  margin: 0;
  background-color: #2B2F26;
  color: #F2F1E8;
  font-family: Merriweather;
}
